<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <link rel="apple-touch-icon" href="/static/img/apple-icon.png">

  {% block basestyles %}{% endblock %}

</head>
<body>

  {% block basecontent %}{% endblock %}

  {% block basescripts %}{% endblock %}

</body>
</html>
