<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>

<body>
    <h1>Flask App</h1>
    <p>We're just getting started...</p>

    <script src="/static/js/app.js"></script>
</body>

</html>


<!-- {% extends "base.html" %}

{% block title %}Flask App{% endblock %}

{% block description %}An introduction to building web apps{% endblock %}

{% block basecontent %}

<h1 class="title">Welcome To Flask App</h1>
<p class="subtitle">We're just getting started...</p>

{% block basescripts %}
<script src="/static/js/app.js"></script>
{% endblock %}

{% endblock %} -->
