<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>

<body>
    <h1>Flask App</h1>
    <p>We're just getting started...</p>

    <script src="/static/js/app.js"></script>
</body>

</html> -->


{% extends "base.html" %}

{% block title %}Flask App{% endblock %}

{% block description %}An introduction to building web apps{% endblock %}

{% block basecontent %}

<div class="main">
    <h1 class="title">Welcome To Flask App</h1>
    <p class="subtitle">We're just getting started...</p>
</div>

<div class="content">
    <label for="username">User Name</label>
    <input type="text" id="username">
</div>

<div class="buttons">
    <button onclick="getUsername()">Get User Name</button>
</div>

{% block basescripts %}
<script src="/static/js/app.js"></script>
{% endblock %}

{% endblock %}
